body {
    padding-top: 70px;
}

/* ensure login for shiny server is always on top */
.shiny-server-account {
    z-index: 1050;
}

.navbar-fixed-top {
    background-color: rgba(220, 220, 220, 0.7);
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.navbar-fixed-top .navbar-brand {
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .navbar-fixed-top .navbar-brand {
        margin-left: 0 !important;
    }
}

.table>tbody>tr>td {
    vertical-align: middle;
}

#envision-app-table .tooltip-inner {
    max-width: 500px;
    text-align: left;
}

#logContents {
    background-color: #2A2A2A;
    overflow-y: scroll;
}

.progress-text {
  display:none;
}
