#logContents {
    color: #4F4;
    background-color: #2A2A2A;
    overflow-y: scroll;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

#envision-app-table .tooltip-inner {
    max-width: 500px;
    text-align: left;
}
